
/*Cambio del color de los botones y el menú*/
.btn-primary {
    background-color: #04115e ;
    color: #FFFFFF;
}

.bg-primary {
    background-color: #04115e !important;
}


/*Menu desplegable movil*/
.sidebar-collapse .navbar-collapse:before {
    background: #04115e;
    background: linear-gradient(#04115e 0%, #000 80%);
    opacity: 0.76;
    filter: alpha(opacity=76);
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

/*Botones Portafolio*/
.nav-pills.nav-pills-primary .nav-item .nav-link.active, .nav-pills.nav-pills-primary .nav-item .nav-link.active:focus, .nav-pills.nav-pills-primary .nav-item .nav-link.active:hover {
    background-color: #04115e;
}


/*Cambio en el hover de los botones*/
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary:active:focus, .btn-primary:active:hover, .btn-primary.active:focus, .btn-primary.active:hover, .show > .btn-primary.dropdown-toggle, .show > .btn-primary.dropdown-toggle:focus, .show > .btn-primary.dropdown-toggle:hover {
    background-color: #85e0ff;
    color: #000000;
    box-shadow: none;
}
a:hover, a:focus {
  color: #fff;
}


/* Boton inicial contorno azul */
.cc-profile-image a:before {
    content: "";
    border: 15px solid #85e0ff;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    position: absolute;
    left: 0;
    -webkit-animation: pulsate 1.6s ease-out;
    animation: pulsate 1.6s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    opacity: 0.0;
    z-index: 99;
}


@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?6m47gn');
    src:  url('fonts/icomoon.eot?6m47gn#iefix') format('embedded-opentype'),
      url('fonts/icomoon.ttf?6m47gn') format('truetype'),
      url('fonts/icomoon.woff?6m47gn') format('woff'),
      url('fonts/icomoon.svg?6m47gn#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  

  

  /* Estilos CSS del la barra rrss */
/* ------------------------- */
.social-bar {
	position: fixed;
	right: 0;
	top: 35%; 
	font-size: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	z-index: 100;
}

.icon {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-linkedin{
	background: #2E406E;
}


.icon-instagram {
	background: #3F60A5;
}

.icon-github {
	background: black;
}

.icon:first-child {
	border-radius: 1rem 0 0 0;
}

.icon:last-child {
	border-radius: 0 0 0 1rem;
}

.icon:hover {
	padding-right: 3rem;
	border-radius: 1rem 0 0 1rem;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
  text-decoration: none;
}

.post.page.AM {
  border-top-width: 3px;
  border-top-style: solid;
  border-left-width: 3px;
  border-left-style: solid;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-right-width: 3px;
  border-right-style: solid;
}


[class^="icon-"], [class*=" icon-"] {
  
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-github:before {
  content: "\eab0";
}
.icon-linkedin:before {
  content: "\eac9";
}

a:hover[class^="cc-github"]{
  background-color: #000;
}


.progress-container.progress-primary .progress-badge {
  color: #000;
  font-weight: bold;
}



.progress-container.progress-primary .progress-value, .progress-container.progress-primary .progress-badge {
  color: #000;
  font-weight: bold;
}

/*Conocimientos*/
.frase{
  margin-bottom: 2%;
  font-size: 1.2rem;
  font-family: cursive;
  text-align: center;
}

/*Animaleciones Portafolio*/
.gallery .cc-porfolio-image figure img {
  position: relative;
  max-width: 100%;
  opacity: 1;
  background-position: right;
  display: initial;
  background-size: cover;
} 

.gallery figure.cc-effect img, .gallery figure.cc-effect .h4 {
  transform: scale(1.1, 1.1);
}


/*Onditas en el cambio de secciones*/
.absolute{
  position: absolute;
  width: 100%;
  top:0;
}
.absolute1{
  position: absolute;
  width: 100%;
  bottom:0;
}



/*Apartado de contacto*/

.img-contact{
  display: block;
  border-radius: 20%;
  object-fit: cover;
  box-shadow: 0 0 10px  rgba(11, 200, 247, 0.644);
  margin-top: 5%;
  margin-bottom: 5%;
  
}
.btn-contacto{
  display: block;
  border-style: none;
  margin: auto;
  width: 50%;
  border-radius: 50%;
  margin-top: 5px;

}

/*Imagen sobre mi*/
.img-sobremi{
  object-fit: cover;
  box-shadow: 0 0 10px  rgba(11, 200, 247, 0.644);
  border-radius: 20pt;

}



.mb-0{
  text-align: center;
}



/*Formación*/

/*Timeline*/
@media (min-width: 1000px) {
  #timeline .demo-card:nth-child(odd) .head::after, #timeline .demo-card:nth-child(even) .head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
 }
  #timeline .demo-card:nth-child(odd) .head::before, #timeline .demo-card:nth-child(even) .head::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #bdbdbd;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 8px #f7f7f7;
 }
}
/* Some Cool Stuff */
.demo-card:nth-child(1) {
  order: 1;
}
.demo-card:nth-child(2) {
  order: 4;
}
.demo-card:nth-child(3) {
  order: 2;
}
.demo-card:nth-child(4) {
  order: 5;
}
.demo-card:nth-child(5) {
  order: 3;
}
.demo-card:nth-child(6) {
  order: 6;
}
/* Border Box */
* {
  box-sizing: border-box;
}
#timeline {
  padding: 100px 0;
  background: #fff;
}
#timeline h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
}
#timeline p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}
#timeline .demo-card-wrapper {
  position: relative;
  margin: auto;
}
@media (min-width: 1000px) {
  #timeline .demo-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 1650px;
    margin: 0 auto;
 }
}
#timeline .demo-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  border-left: 1px solid rgba(191, 191, 191, 0.4);
}
@media (min-width: 1000px) {
  #timeline .demo-card-wrapper::after {
    border-left: 1px solid #bdbdbd;
 }
}
#timeline .demo-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2;
}
@media (min-width: 480px) {
  #timeline .demo-card {
    max-width: 60%;
    box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
 }
}
@media (min-width: 720px) {
  #timeline .demo-card {
    max-width: 40%;
 }
}
@media (min-width: 1000px) {
  #timeline .demo-card {
    max-width: 450px;
    height: 400px;
    margin: 90px;
    margin-top: 45px;
    margin-bottom: 45px;
 }
  #timeline .demo-card:nth-child(odd) {
    margin-right: 45px;
 }
  #timeline .demo-card:nth-child(odd) .head::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
 }
  #timeline .demo-card:nth-child(odd) .head::before {
    left: 491.5px;
 }
  #timeline .demo-card:nth-child(even) {
    margin-left: 45px;
 }
  #timeline .demo-card:nth-child(even) .head::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
 }
  #timeline .demo-card:nth-child(even) .head::before {
    right: 489.5px;
 }
  #timeline .demo-card:nth-child(2) {
    margin-top: 180px;
 }
}
#timeline .demo-card .head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}
#timeline .demo-card .head .number-box {
  display: inline;
  float: left;
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.17);
}
#timeline .demo-card .head h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 1rem;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 {
    font-size: 165%;
    line-height: 1.5rem;
 }
 .v2{
   font-size: 50px;
   color: #000;
   letter-spacing: .05em;
   text-shadow: 
     4px 4px 0px #d5d5d5, 
     7px 7px 0px rgba(0, 0, 0, 0.2);
 }
}

#timeline .demo-card .head h2 span {
  display: block;
  font-size: 0.6rem;
  margin: 0;
}
@media (min-width: 480px) {
  #timeline .demo-card .head h2 span {
    font-size: 0.8rem;
 }
}
#timeline .demo-card .body {
  background: #fff;
  border: 1px solid rgba(191, 191, 191, 0.4);
  border-top: 0;
  padding: 15px;
}
@media (min-width: 1000px) {
  #timeline .demo-card .body {
    height: 315px;
 }
}
#timeline .demo-card .body p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}
#timeline .demo-card .body img {
  display: block;
  width: 100%;
}
#timeline .demo-card--step1 {
  background-color: #46b8e9;
}
#timeline .demo-card--step1 .head::after {
  border-color: #46b8e9;
}
#timeline .demo-card--step2 {
  background-color: #3ee9d1;
}
#timeline .demo-card--step2 .head::after {
  border-color: #3ee9d1;
}
#timeline .demo-card--step3 {
  background-color: #ce43eb;
}
#timeline .demo-card--step3 .head::after {
  border-color: #ce43eb;
}
#timeline .demo-card--step4 {
  background-color: #4d92eb;
}
#timeline .demo-card--step4 .head::after {
  border-color: #4d92eb;
}
#timeline .demo-card--step5 {
  background-color: #46b8e9;
}
#timeline .demo-card--step5 .head::after {
  border-color: #46b8e9;
}

a {
  color: #04115e;
}

a:hover, a:focus {
  color: #3ee9d1;
  text-decoration: none;
}

